/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/11/2014, 15:08:07
    Author     : andre.kunrath
*/


body#login,#cadastro{
    background-color: #000000;
    color: #FFFFFF;
}
input, button, select{
    border-radius: 15px !important;
    height: 28px !important;
    padding-top: 5px !important;
    font-weight: bold !important;
    background-color: #999;    
}
input[type="text"], input[type="password"]{
    padding-top: 5px !important;
}
.img-login{
    padding:0;
}
/*LOGIN*/
.form-signin{
    width: 70%;
}
#logo{
    border-bottom: 5px;
    border-bottom-color: #fff!important;
    border-bottom-style: solid!important;
}

.profile-img{
    margin: 0 auto;
}

.input-login{
    margin-top: 15px;
}
.input-password{
    margin-top: 5px;
}
.button-login{
    margin-top: 5px;
}
.button-second{
    font-size: 12px;
    margin-top: 5px;
}
.button-register{
    width: 48%;
    float: right;
}
.button-forget{
    width: 50%;
}
.form-signin button{
    color: #000;
}
/*CADASTRO*/

#cadastro .control-label{
    color: #fff;
    margin-top: 5px !important;
}
#cadastro radio{
    float: left !important;
}
#cadastro .sex{
    width: 48% !important;
}
#cadastro .sex > div{
    float: right !important;
    padding-top: 8px;
    padding-right: 35px;
}

#cadastro .sex > div{
    
}
#cadastro .sex > div.famele{
    
}

#cadastro form{
    padding-top: 25px;
}

.form-inline > .day,.month {
    float: left !important;
    margin-right: 5px;
}
.form-inline > .ddd {
    float: left;
    margin-right: 5px;
}
.cpf{
    padding-top: 15px;
}
.btn-register{
    background-color: #eed227;
    color: #000;
    margin-top: 30px;
}

/*PEDIDO*/
body#pedido{
    background-color: #C5C4C3; 
    color: #000000;
}
#pedido .price{
    float: right;
    margin: 8px 0 0 5px;
}
#pedido .radio-price{
    float: left;
}
.paddle-pass-clean{
    height: 40px;
}
.pedido-dados-cartao .form-group{
    width: 95% !important;
    margin-left: 10px;
}
.paddle-pass > div{
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 10px;
    border-top-style: solid;
    border-top-color: #fff;
    border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    background-color: #5f5f5f;
    height: 250px;
}
.paddle-pass label{
    color: #000;}
.pedido-paddle-pass{
    width: 65%;
    float: left;
}
.pedido-logos{
    width: 20%;
    float: right;
}
.pedido-description{
    font-size: 11px;
    font-weight: normal;    
}
.pedido-dados-cartao .fields{
    width: 50%;
}
.pedido-logos > img{
    float: right;
    margin-top: 10px;
}
.pedido-validate-month{
    width: 43%;
    float: left;
    font-size: 12px;

}
.pedido-validate-year{
    width: 55%;
    font-size: 12px;
    float: right;
}
.form-horizontal .control-label{
/* text-align:right; */
text-align:left;
padding-left: 0;
color: #000;
font-weight: normal;
}
.pedido-dados-cartao{
    margin-top: 20px;
    font-size: 13px;
}
.pedido-dados-cartao .fields{
    width: 50% !important; 
    float: right;    
}
.pedido-dados-cartao .control-label{
    width: 40% !important;
    padding-top: 0 !important;
    font-size: 11px;
    margin-top: 5px;
}
.pedido-dados-cartao .terms{
    width: 100% !important;    
}
.pedido-dados-cartao .terms > div > a{
    color: #000;
}
.pedido-dados-cartao .terms > div{
    width: 90% !important;    
    float: right;
    margin-top: 9px !important;
}
.btn-terms{
    background-color: #5f5f5f;
    color: #FFF;
    padding-bottom: 5px !important;
}
.btn-continue{
    background-color: #000;
    color: #FFF;
}
/*PUBLICIDADE*/
.publicidade > div{
    background-color: #fff;
    height: 50px;
}

input.form_error{
    border: solid red 1px;
}   

/*ESQUECI SENHA*/
.box-form-forget-pass{
    background-color: #000;
    position: absolute;
    width: 100%;
    top: 340px;
    border-top: 5px;
    border-top-style: solid;
    border-top-color: #fff;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: #fff; 
    padding-top: 10px;

}
.box-img-form-forget-pass{
   background-image: url("../images/logo.png");
   background-position: center center;
   background-repeat: no-repeat;
   height: 631px;
   position: relative;
}
.img-forget{
    padding:0;
}
.forget-label{
    margin: auto 0;
    width: 100%;
    text-align: center;    
    padding-bottom: 15px;
}
.box-form-forget-pass .btn{
    float: left;
    width: 49%;
    margin-bottom: 20px;
}
.box-form-forget-pass .send-pass{
    float: right;
}

.box-sucesso {
    padding-left: 45px;
}

/* ADQUIRA PEDIDO*/

.paddle-pass-adquira{
    min-height: 500px;
}
.paddle-pass-adquira > div.box-buy-description{
    background-color: #C5C4C3;  
    border: none;
    height: 180px !important; 
    padding-top: 0;
}
.paddle-pass-adquira label{
    font-weight: normal;
    margin-top: 40px;
    margin-left: 25px;
    font-size: 12px;
}
.box-buy-pass{
    background-color: #000 !important;
    height: 150px !important;
}
.box-buy-pass > a{
    background-color: #000 !important;
    color: #fff !important;
    width: 100% !important;
    border:none; 
}

/*SUCESSO PEDIDO*/

.box-success-pass{
    background-color: #000 !important;
    height: 150px !important;
}
.box-success-pass > a{
    background-color: #000 !important;
    color: #fff !important;
    width: 100% !important;
    border:none; 
}
.box-success-pass .number{
    background-color: #fff;
    color: #000;
    width: 30%;
    height: 80px;
    float: left;
    font-size: 65px;
    
}
.box-success-pass .description{
    margin-top: 25px;
}
.box-success-pass .description > .buttom{
    font-size: 11px;
}

/* PEDIDO FIM*/
.pedido-logos.end{
    width: 70%;
    float: none;       
}
.pedido-logos.end > img{
    width: 60%; 
    padding-top: 10px;  
}
#pedido .text-end{
    width: 75%;
    margin: 0 auto; 
}
#pedido .text-end > label{
    font-weight: normal;
    font-size: 11px;
    padding-top: 20px;    
}

/* PEDIDO PRANCHA */

.box-select-item {
    background-color: #000 !important;
    /* height: 150px !important; */
    display: block;
    padding-left: 15px;
}

.box-select-item .item{
    width: 15%;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    height: 155px;
    position: relative;
    margin-left: 2px;
}
.box-select-item label{
    color: #FFF;
    position: absolute;
    top: 40%;
    width: 100%;
    margin: 0 0 0 0;
    text-align: center;

}
.box-select-item .box-buttom{
    width: 100%;
    text-align: center;
}
.box-select-item .confirm{
    border-radius: 0px !important;
    background-color: #fff;
    margin: 0 auto;   
    width: 55%;
    margin-top: 15px;
}

.box-select-item .available{
    background-image: url("../images/prancha-disponivel.png");
}
.box-select-item .unavailable{
    background-image: url("../images/prancha-indisponivel.png");
}
.box-select-item .selected{
    background-image: url("../images/prancha-selecionada.png");
}

.box-select-item input[type=radio] {
    display: none;
}


/*MEUS PEDIDOS*/

.box-buy-pass-order{
    background-color: #000 !important;
    height: 90px !important;
}

.table-order {
    background-color: #000;
    color: #fff;
    font-size: 11px;
    text-align: center;
}

.table-order {
    background-color: #000;
    color: #fff;
    font-size: 11px;
    text-align: center;
}

.table-order > thead{
    background-color: #fff;
    color: #000;
}

.table-order > thead th{
    text-align: center;
}

/* TERMOS */

body#termos{
    background-color: #C5C4C3; 
    color: #000000;
}

.panel-heading > a {
    color: #000;
}

.list-terms{
    margin-top: 15px;
}

/**
* PEDIDO CONFIRMAR
*/

.pedido-confirmar .confirm, .btn-warning{
    width: 46%;
    font-size: 11px;
}

.pedido-confirmar .box-buttom{
    margin-top: 20px;
}

.pedido-confirmar .confirm{
    float: right;
}